For the most up-to-date list please see the <a href='http://mollusk.herokuapp.com/products/shopify_issues'>Product Issues Page</a>
<br />
<br />
<% if @shopify_duplicates.present? %>
  <h2 class='center'>Shopify products with duplicate barcodes:</h2>
  <table class='full_width'>
    <tr>
      <th>When?</th>
      <th>Product</th>
      <th>Original Variant</th>
      <th>Duplicate Variant</th>
    </tr>

    <% @shopify_duplicates.each do |duplicate| %>
      <tr>
        <td><%= duplicate.updated_at.in_time_zone("Pacific Time (US & Canada)").to_s(:humanized_ago) %></td>
        <td><a href='https://mollusk.herokuapp.com/products/<%= duplicate.product.id %>'><%= duplicate.product.title %></td>
        <td><a href='<%= duplicate.original_shopify_link %>'>Original Variant <i class='fa fa-external-link-alt'></i></a></td>
        <td><a href='<%= duplicate.duplicate_shopify_link %>'>Duplicate Variant <i class='fa fa-external-link-alt'></i></a></td>
      </tr>
    <% end %>
  <table>
<% end %>

<% if @shopify_deletions.present? %>
  <hr/>
  <h2 class='center'>Recently deleted shopify products:</h2>
  <table class='full_width'>
    <tr>
      <th>When?</th>
      <th>Product</th>
      <th>Deleted Variant</th>
      <th>New Variant</th>
    </tr>

    <% @shopify_deletions.each do |deletion| %>
      <tr>
        <td><%= deletion.created_at.in_time_zone("Pacific Time (US & Canada)").to_s(:humanized_ago) %></td>
        <td><a href='https://mollusk.herokuapp.com/products/<%= deletion.product.id %>'><%= deletion.product.title %></td>
        <td><a href='<%= deletion.deleted_shopify_link %>'>Deleted Variant <i class='fa fa-external-link-alt'></i></a></td>
        <td><a href='<%= deletion.new_shopify_link %>'>New Variant <i class='fa fa-external-link-alt'></i></a></td>
      </tr>
    <% end %>
  <table>
<% end %>

Thanks!
