<div class='center'>
  <h2><%= @shopify_sales_receipt.store.humanize %> Shopify Sales Receipt for <%= @shopify_sales_receipt.date.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y") %> <% if @shopify_sales_receipt.qbo_id.present? %>(<a href='https://c3.qbo.intuit.com/app/salesreceipt?txnId=<%= @shopify_sales_receipt.qbo_id %>' target='_blank'>QBO <i class='fa fa-external-link-alt'></i></a>)<% end %></h2>
</div>

<table class="products full_width">
  <tr>
    <th>Day</th>
    <th>Product Sales</th>
    <th>Gift Card Sales</th>
    <th>Discounts</th>
    <th>Sales Tax</th>
    <th>Shipping</th>
    <th>Shopify Payments</th>
    <th>Paypal Payments</th>
    <th>Gift Card Payments</th>
    <th>Sum Check</th>
  </tr>
  <tr>
    <td><%= @shopify_sales_receipt.date.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%y")  %></td>
    <td><%= number_to_currency(@shopify_sales_receipt.product_sales, :unit => "$", :separator => ".", :delimiter => ",") %></td>
    <td><%= number_to_currency(@shopify_sales_receipt.gift_card_sales, :unit => "$", :separator => ".", :delimiter => ",") %></td>
    <td><%= number_to_currency(@shopify_sales_receipt.discount, :unit => "$", :separator => ".", :delimiter => ",") %></td>
    <td><%= number_to_currency(@shopify_sales_receipt.sales_tax, :unit => "$", :separator => ".", :delimiter => ",") %></td>
    <td><%= number_to_currency(@shopify_sales_receipt.shipping, :unit => "$", :separator => ".", :delimiter => ",") %></td>
    <td><%= number_to_currency(@shopify_sales_receipt.shopify_payments, :unit => "$", :separator => ".", :delimiter => ",") %></td>
    <td><%= number_to_currency(@shopify_sales_receipt.paypal_payments, :unit => "$", :separator => ".", :delimiter => ",") %></td>
    <td><%= number_to_currency(@shopify_sales_receipt.gift_card_payments, :unit => "$", :separator => ".", :delimiter => ",") %></td>
    <td>
      <% if @shopify_sales_receipt.sum_check.to_d.truncate(2).to_f == 0.0 %>
        <p style='color: green'><i class="fa fa-check"></i></p>
      <% elsif @shopify_sales_receipt.sum_check > 0 %>
        <p style='color: red'><%= number_to_currency(@shopify_sales_receipt.sum_check, :unit => "$", :separator => ".", :delimiter => ",") %></p>
      <% else %>
        <p style='color: blue'><%= number_to_currency(@shopify_sales_receipt.sum_check, :unit => "$", :separator => ".", :delimiter => ",") %></p>
      <% end %>
    </td>
  </tr>
</table>

<div class='center'>
  <h2>Orders</h2>
</div>

<table class="products full_width">
  <tr>
    <th>Closed at</th>
    <th>Order Name</th>
    <th>Product Sales</th>
    <th>Gift Card Sales</th>
    <th>Discounts</th>
    <th>Sales Tax</th>
    <th>Shipping</th>
    <th>Shopify Payments</th>
    <th>Paypal Payments</th>
    <th>Gift Card Payments</th>
    <th>Sum Check</th>
  </tr>
  <% @shopify_sales_receipt.shopify_sales_receipt_orders.each do |order| %>
    <tr>
      <td><%= order.closed_at.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%y")  %></td>
      <td><a href='https://<%= @shopify_sales_receipt.retail? 'mollusksurf' : 'molluskats' %>.myshopify.com/admin/orders/<%= order.order_id %>' target='_blank'><%= order.name %> <i class='fa fa-external-link-alt'></i></a></td>
      <td><%= number_to_currency(order.product_sales, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td><%= number_to_currency(order.gift_card_sales, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td><%= number_to_currency(order.discount, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td><%= number_to_currency(order.sales_tax, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td><%= number_to_currency(order.shipping, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td><%= number_to_currency(order.shopify_payments, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td><%= number_to_currency(order.paypal_payments, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td><%= number_to_currency(order.gift_card_payments, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td>
        <% if order.sum_check.to_d.truncate(2).to_f == 0.0 %>
          <p style='color: green'><i class="fa fa-check"></i></p>
        <% elsif order.sum_check > 0 %>
          <p style='color: red'><%= number_to_currency(order.sum_check, :unit => "$", :separator => ".", :delimiter => ",") %></p>
        <% else %>
          <p style='color: blue'><%= number_to_currency(order.sum_check, :unit => "$", :separator => ".", :delimiter => ",") %></p>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
