<div id="filterrific_results">

  <table class="products full_width">
    <tr>
      <th>Date</th>
      <th>Store</th>
      <th>Sales Order Ref</th>
      <th>SOS</th>
    </tr>
    <% wholesale_orders.each do |order| %>
      <tr>
        <td><a href='<%= wholesale_order_path(order)%>'><%= order.created_at.in_time_zone("Pacific Time (US & Canada)").to_s(:humanized_ago) %> <i class='fa fa-external-link-alt'></i></a></td>
        <td><%= order.wholesale_order_items.first.customer %></td>
        <td><%= order.wholesale_order_items.first.ref_number %></td>
        <td><%=  %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class='center'>
  <%= will_paginate wholesale_orders %>
</div>