<div class='center'>
  <h2>
    Wholesale Order <%= @wholesale_order.ref_number %> for <%= @wholesale_order.customer %><% if @wholesale_order.sos_id.present? %> (<a href='<%= @wholesale_order.sos_url %>'>SOS <i class='fa fa-external-link-alt'></i></a>)<% end %>
  </h2>
</div>

<table class="products full_width">
  <tr>
    <th>Date Created</th>
    <th>Ref Number</th>
    <th>Customer</th>
    <th>Customer PO</th>
    <th>Location</th>
    <th>Start Ship</th>
    <th>Cancel Date</th>
    <th>Men's</th>
    <th>Women's</th>
    <th>App Total</th>
    <th>SOS Total</th>
    <th>SOS</th>
  </tr>
  <tr>
    <td><%= @wholesale_order.created_at.in_time_zone("Pacific Time (US & Canada)").to_s(:humanized_ago) %></td>
    <td><%= @wholesale_order.ref_number %></td>
    <td><%= @wholesale_order.customer %></td>
    <td><%= @wholesale_order.customer_po %></td>
    <td><%= @wholesale_order.location %></td>
    <td><%= @wholesale_order.start_ship.strftime("%m/%d/%Y") %></td>
    <td><%= @wholesale_order.cancel_date.strftime("%m/%d/%Y") %></td>
    <td><%= number_to_currency(@wholesale_order.total_by_department['Mens'], unit: '$', separator: '.', delimiter: ',') %></td>
    <td><%= number_to_currency(@wholesale_order.total_by_department['Womens'], unit: '$', separator: '.', delimiter: ',') %></td>
    <td><%= number_to_currency(@wholesale_order.total, unit: '$', separator: '.', delimiter: ',') %></td>
    <td><%= number_to_currency(@wholesale_order.sos_total, unit: '$', separator: '.', delimiter: ',') %></td>
    <td>
      <% if @wholesale_order.sos_id.present? %>
        <a href='<%= @wholesale_order.sos_url %>'>SOS <i class='fa fa-external-link-alt'></i></a>
      <% end %>
    </td>
  </tr>
</table>

<div class='center'>
  <h2>Order Items</h2>
</div>

<table class="products full_width">
  <tr>
    <th>Department</th>
    <th>Item Name</th>
    <th>Quantity Ordered</th>
    <th>Unit Price</th>
    <th>Amount</th>
  </tr>
  <% @wholesale_order.wholesale_order_items.each do |item| %>
    <tr>
      <td><%= item.department %></td>
      <td><%= item.item_name %></td>
      <td><%= item.quantity_ordered %></td>
      <td><%= number_to_currency(item.unit_price, unit: '$', separator: '.', delimiter: ',') %></td>
      <td><%= number_to_currency(item.unit_price * item.quantity_ordered, unit: '$', separator: '.', delimiter: ',') %></td>
    </tr>
  <% end %>
</table>
