<div class='center'>
  <h2><%= @shopify_sales_cost.store.humanize %> Shopify Sales Costs for <%= @shopify_sales_cost.date.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y") %> <% if @shopify_sales_cost.qbo_id.present? %>(<a href='https://c3.qbo.intuit.com/app/journal?txnId=<%= @shopify_sales_cost.qbo_id %>' target='_blank'>QBO <i class='fa fa-external-link-alt'></i></a>)<% end %></h2>
</div>

<table class="products full_width">
  <tr>
    <th>Date</th>
    <th>Total</th>
    <th>Costs by Location</th>
  </tr>
  <tr>
    <td>
      <%= @shopify_sales_cost.date.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%y")  %>
    </td>
    <td>
      <%= number_to_currency(@shopify_sales_cost.cost, unit: '$', separator: '.', delimiter: ',') %>
    </td>
    <td>
      <%= render partial: '/daily_reports/shopify_costs_by_location', locals: { location_costs: @shopify_sales_cost.location_costs } %>
    </td>
  </tr>
</table>

<div class='center'>
  <h2>Orders</h2>
</div>

<table class="products full_width">
  <tr>
    <th>Closed at</th>
    <th>Order Name</th>
    <th>Total</th>
    <th>Costs by Location</th>
  </tr>
  <% @shopify_sales_cost.shopify_sales_cost_orders.each do |order| %>
    <tr>
      <td>
        <%= order.closed_at.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%y")  %>
      </td>
      <td><a href='https://<%= @shopify_sales_cost.retail_base_url? ? 'mollusksurf' : 'molluskats' %>.myshopify.com/admin/orders/<%= order.order_id %>' target='_blank'><%= order.name %> <i class='fa fa-external-link-alt'></i></a></td>
      <td>
        <%= number_to_currency(order.cost, unit: '$', separator: '.', delimiter: ',') %>
      </td>
      <td>
        <%= render partial: '/daily_reports/shopify_costs_by_location', locals: { location_costs: order.location_costs } %>
      </td>
    </tr>
  <% end %>
</table>
