<div id="filterrific_results">

  <div class='center' style='margin-bottom: 30px;'>
    <%= page_entries_info inventory_updates %>
  </div>
  
  <table class="products full_width">
    <tr>
      <th>Created at</th>
      <th>Product Name</th>
      <th>Variant Name</th>
      <th>SKU</th>
      <th>Vend SF Qty</th>
      <th>Prior Shopify SF Qty</th>
      <th>Adjustment</th>
      <th>New Shopify SF Qty</th>
    </tr>
    <% inventory_updates.each do |update| %>
      <tr>
        <td><%= update.created_at.in_time_zone("Pacific Time (US & Canada)").to_s(:humanized_ago) %></td>
        <td><%= link_to update.product.vend_datum.name, update.product %></td>
        <td><%= update.product.vend_datum.variant_name %></td>
        <td><%= update.product.vend_datum.sku %></td>
        <td><%= update.vend_qty %></td>
        <td><%= update.prior_qty %></td>
        <td><%= update.adjustment %></td>
        <td><%= update.new_qty %></td>
      </tr>
    <% end %>
  </table>

  <div class='center'>
  <%= will_paginate %>
  </div>
</div>
