<div id="filterrific_results">

  <div class='mb-5'>
    <%= page_entries_info inventory_updates %>
  </div>

  <table class="products full_width">
    <tr>
      <th>When? (PST / PDT)</th>
      <th>Product</th>
      <th>SKU</th>
      <th>Location</th>
      <th>Vend Qty</th>
      <th>Prior Shopify SF Qty</th>
      <th>Adjustment</th>
      <th>New Shopify SF Qty</th>
    </tr>
    <% inventory_updates.each do |update| %>
      <tr>
        <td><%= update.created_at.in_time_zone("Pacific Time (US & Canada)").to_s(:humanized_ago) %></td>
        <td><%= link_to update.product do %><%= update.product.vend_datum.variant_name %> <i class='fa fa-external-link-alt'></i><% end %></td>
        <td><%= update.product.vend_datum.sku %></td>
        <td><%= ShopifyInventory::locations.key(update.location) %></td>
        <td><%= update.vend_qty %></td>
        <td><%= update.prior_qty %></td>
        <td><%= update.adjustment %></td>
        <td class='<%= 'inventory_failure' unless update.success? %>'><%= update.new_qty %></td>
      </tr>
    <% end %>
  </table>

  <div class='center'>
  <%= will_paginate %>
  </div>
</div>
