<% provide(:title, 'Inventory Updates') %>
<!-- <h1>Inventory Updates</h1> -->

<%= form_for_filterrific @filterrific do |f| %>
  <div class='search_bar' style='margin-bottom: 5px;'>
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'search_field',
      placeholder: ' Search'
    ) %>
  </div>
  <div class='reset_button' style='margin-bottom: 10px;'>
    <%= link_to(
      'Reset Search',
      reset_filterrific_url,
      class: "reset_search", style: 'color: #337ab7; font-weight: 450;') %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'inventory_updates/list',
  locals: { inventory_updates: @inventory_updates }
) %>
