<div class='center'>
  <h2>Vend Inventory Transfers for <%= @daily_vend_consignment.date.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y") %></h2>
</div>

<% has_consignments = @daily_vend_consignment.vend_consignment_location_costs.present? %>

<table class="products full_width">
  <tr>
    <th>Receiver</th>
    <th>Supplier</th>
  </tr>
  <% if has_consignments %>
    <% receiving_location_costs = @daily_vend_consignment.vend_consignment_location_costs.receiving.sort_by(&:cost) %>
    <% supplying_location_costs = @daily_vend_consignment.vend_consignment_location_costs.supplying.sort_by(&:cost) %>

    <% receiving_location_costs.each_with_index do |receiving_location_cost, index| %>
      <tr>
        <td>
          <strong><%= receiving_location_cost.outlet_name %>:</strong> <%= number_to_currency(receiving_location_cost.cost, :unit => "$", :separator => ".", :delimiter => ",") %>
        </td>
        <td>
          <strong><%= supplying_location_costs[index].outlet_name %>:</strong> <%= number_to_currency(supplying_location_costs[index].cost, :unit => "$", :separator => ".", :delimiter => ",") %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td>n/a</td>
      <td>n/a</td>
    </tr>
  <% end %>
</table>

<% if has_consignments %>
  <div class='center'>
    <h2>Consignments</h2>
  </div>

  <table class="products full_width">
    <tr>
      <th>Received At</th>
      <th>Receiver</th>
      <th>Supplier</th>
      <th>Cost</th>
    </tr>
    <% @daily_vend_consignment.vend_consignments.sort_by(&:received_at).each do |consignment| %>
      <tr>
        <td><a href='https://mollusksurf.vendhq.com/api/2.0/consignments/<%= consignment.vend_consignment_id %>' target='_blank'><%= consignment.received_at.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%y")  %> <i class='fa fa-external-link-alt'></i></a></td>
        <td>
          <%= consignment.receiving_location_name %>
        </td>
        <td>
          <%= consignment.supplying_location_name %>
        </td>
        <td>
          <%= number_to_currency(consignment.cost, :unit => "$", :separator => ".", :delimiter => ",") %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
