<div id="filterrific_results">
  <table class="products full_width">
    <tr>
      <th>When?  (PST / PDT)</th>
      <th>Location</th>
      <th>Total Orders</th>
      <th>PO</th>
      <th>QBO</th>
      <th>Actions</th>
    </tr>
    <% daily_orders.each do |date, orders| %>
      <tr>
        <td class='border-bottom' rowspan='3' style='background-color: #FFFFFF'><%= date.in_time_zone("Pacific Time (US & Canada)").to_s(:humanized_ago) %></td>
        <% orders.each_with_index do |order, i| %>
          <% last_row = (i == 2) %>
          <tr>
            <td class='<%= 'border-bottom' if last_row %>'><a href='/<%= order.id %>'><%= VendClient::OUTLET_NAMES_BY_ID[order.outlet_id] %></a></td>
            <td class='<%= 'border-bottom' if last_row %>'><%= order.orders.count %></td>
            <td class='<%= 'border-bottom' if last_row %>'></td>
            <td class='<%= 'border-bottom' if last_row %>'></td>
            <td class='<%= 'border-bottom' if last_row %>'></td>
          <tr>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
