<html>
  <head>
    <style>
      table {
        width:100%;
        margin: 25px, 10px;
      }

      table, th, td {
        border: 1px solid black;
      }

      #wrap {
        margin: 20px auto;
        width: 900px;
      }

      .left {
        float: left;
      }

      .thirds {
        width: 33%;
      }

      .full_width {
        width: 100%;
      }

      .center {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id='wrap'>
      <div class='full_width'>
        <div class='left thirds'>
          <%= @daily_order.ship_to_address.html_safe %>
        </div>
        <div class='left thirds'>
          
        </div>
        <div class='left thirds'>
          <table>
            <tr>
              <th>Date</th>
              <td><%= @daily_order.date.strftime('%m/%d/%Y') %></td>
            </tr>
            <tr>
              <th>PO Number</th>
              <td><%= @daily_order.display_po %></td>
            </tr>
            <tr>
              <th>Shipping Method</th>
              <td>UPS Ground</td>
            </tr>
          </table>
        </div>
      </div>
      <div class='center'>
        <h3>PO <%= @daily_order.display_po %></h3>
      </div>
      <table>
        <tr>
          <th>SKU</th>
          <th>Description</th>
          <th>Color</th>
          <th>Size</th>
          <th>Quantity</th>
        </tr>
        <% @daily_order.orders.each do |order| %>
          <tr>
            <% vend_product = order.product.vend_datum %>
            <td><%= vend_product.sku %></td>
            <td><%= vend_product.name %></td>
            <td><%= vend_product.variant_options.find { |vo| vo['name'] == 'Color' }&.[]('value') %></td>
            <td><%= vend_product.variant_options.find { |vo| vo['name'] == 'Size' }&.[]('value') %></td>
            <td><%= order.quantity %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan='3'></td>
          <td><strong>TOTAL</strong></td>
          <td><strong><%= @daily_order.total_items %></strong></td>
        </tr>
      </table>
    </div>
  </body>
</html>