<html>
  <head>
    <style>
      table {
        width:100%;
        margin: 25px, 10px;
      }

      table, th, td {
        border: 1px solid black;
      }

      #wrap {
        margin: 20px auto;
        width: 900px;
      }

      .center {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id='wrap'>
      <div class='center'>
        <h2>PO Orders</h2>
      </div>
      <div>
        <%= @daily_order.ship_to_address.html_safe %>
      </div>
      <table>
        <tr>
          <th>SKU</th>
          <th>Description</th>
          <th>Color</th>
          <th>Size</th>
          <th>Quantity</th>
        </tr>
        <% @daily_order.orders.each do |order| %>
          <tr>
            <% vend_product = order.product.vend_datum %>
            <td><%= vend_product.sku %></td>
            <td><%= vend_product.name %></td>
            <td><%= vend_product.variant_options.find { |vo| vo['name'] == 'Color' }&.[]('value') %></td>
            <td><%= vend_product.variant_options.find { |vo| vo['name'] == 'Size' }&.[]('value') %></td>
            <td><%= order.quantity %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan='3'></td>
          <td><strong>TOTAL</strong></td>
          <td><strong><%= @daily_order.total_items %></strong></td>
        </tr>
      </table>
    </div>
  </body>
</html>