<% @daily_order = daily_order if @daily_order.blank? %>
<html>
  <head>
    <style type='text/css'>
      h3 {
        margin-top: 0px;
        margin-bottom: 0.5em;
      }

      table {
        width:100%;
        margin-top: 0.5em;
        border-collapse: collapse;
        page-break-inside: auto;
      }

      tr {
        page-break-inside: avoid;
        page-break-after: auto;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      th, td {
        border: 1px solid black;
        padding: 5px;
      }

      #wrap {
        margin: 20px auto;
        width: 900px;
      }

      .email {
        font-size: 1.25em;
      }

      .no_border {
        border: none;
        background-color: #ffffff !important;
      }

      .left {
        float: left;
      }

      .thirds {
        width: 33%;
        min-height: 1px;
      }

      .final-third {
        width: 34%;
      }

      .two-thirds {
        width: 66%;
        min-height: 1px;
      }

      .full_width {
        width: 100%;
        margin-bottom: 25px;
        overflow: hidden;
      }

      .center {
        text-align: center;
      }

      .align-right {
        text-align: right;
      }

      .logo {
        height: 60px;
      }
    </style>
  </head>
  <body>
    <div id='wrap'>
      <div class='full_width'>
        <div class='left two-thirds'>
          <img class='logo' src='http://mollusk.herokuapp.com/logo.jpg'>
        </div>
        <div class='left final-third'>
          <h2 class='align-right'>Pick List</h2>
        </div>  
      </div>
      <div class='full_width'>
        <div class='left thirds'>
          <h3>Ship to:</h3>
          <%= @daily_order.ship_to_address.html_safe %>
        </div>
        <div class='left thirds'>
        </div>
        <div class='left final-third'>
          <table>
            <tr>
              <th>PO #</th>
              <td><%= @daily_order.display_po %></td>
            </tr>
            <tr>
              <th>Date</th>
              <td><%= @daily_order.daily_inventory_transfer.date.strftime('%m/%d/%y') %></td>
            </tr>
            <tr>
              <th>Shipping</th>
              <td>UPS Ground</td>
            </tr>
          </table>
        </div>
      </div>
      <table>
        <tr>
          <th>SKU</th>
          <th>Product</th>
          <th>Type</th>
          <th>Color</th>
          <th>Size</th>
          <th>Quantity</th>
        </tr>
        <% @daily_order.orders.sort_by { |order| order.product.vend_datum.sort_key }.each do |order| %>
          <tr>
            <% vend_product = order.product.vend_datum %>
            <td><%= order.product.retail_shopify&.sku %></td>
            <td><%= vend_product.name %></td>
            <td><%= vend_product.vend_type&.[]('name') %></td>
            <td><%= vend_product.variant_options.find { |vo| vo['name'] == 'Color' }&.[]('value') %></td>
            <td><%= vend_product.variant_options.find { |vo| vo['name'] == 'Size' }&.[]('value') %></td>
            <td class='align-right'><%= order.quantity %></td>
          </tr>
        <% end %>
        <tr>
          <td class='no_border' colspan='4'></td>
          <td><strong>TOTAL</strong></td>
          <td class='align-right'><strong><%= @daily_order.total_items %></strong></td>
        </tr>
      </table>
    </div>
  </body>
</html>