<div class='center'>
  <h2>Daily Order for <%= VendClient::OUTLET_NAMES_BY_ID[@daily_order.outlet_id] %> on <%= @daily_order.date.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y") %> <% if @daily_order.qbo_id.present? %>(<a href='https://c3.qbo.intuit.com/app/salesreceipt?txnId=<%= @daily_order.qbo_id %>' target='_blank'>QBO <i class='fa fa-external-link-alt'></i></a>)<% end %></h2>
</div>

<table class="products full_width">
  <tr>
    <th>When?  (PST / PDT)</th>
    <th>Location</th>
    <th>Total Orders</th>
    <th>Total Items</th>
    <th>Total Cost of Goods</th>
    <th>Vend Consignment</th>
    <th>PO</th>
    <th>PDF</th>
    <th>QBO</th>
  </tr>
  <tr>
    <td >
      <%= @daily_order.date.in_time_zone("Pacific Time (US & Canada)").to_s(:humanized_ago) %>
    </td>
    <td>
      <%= VendClient::OUTLET_NAMES_BY_ID[@daily_order.outlet_id] %>
    </td>
    <td>
      <%= @daily_order.orders.count %>
    </td>
    <td>
      <%= @daily_order.total_items %>
    </td>
    <td>
      <%= number_to_currency(@daily_order.total_cost, :unit => "$", :separator => ".", :delimiter => ",") %>
    </td>
    <td>
      <% if @daily_order.vend_consignment_url %>
        <a href='<%= @daily_order.vend_consignment_url %>' target='_blank'>Vend <i class='fa fa-external-link-alt'></i></a>
      <% else %>
         -
      <% end %>
    </td>
    <td>
      <% if @daily_order.po_id.present? %>
        <a href='<%= daily_order_po_path(@daily_order) %>' target='_blank'><%= @daily_order.display_po %> <i class='fa fa-external-link-alt'></i></a>
      <% else %>
         -
      <% end %>
    </td>
    <td>
      <% if @daily_order.po_id.present? %>
        <a href='<%= daily_order_po_path(@daily_order) %>.pdf'><i class='fa fa-file-pdf'></i> <i class='fa fa-cloud-download-alt'></i></a>
      <% else %>
         -
      <% end %>
    </td>
    <td>
      <% if @daily_order.qbo_id.present? %>
        <a href='https://c3.qbo.intuit.com/app/salesreceipt?txnId=<%= @daily_order.qbo_id %>' target='_blank'>QBO <i class='fa fa-external-link-alt'></i></a>
      <% else %>
         -
      <% end %>
    </td>
  </tr>
</table>

<div class='center'>
  <h2>Orders</h2>
</div>

<table class="products full_width">
  <tr>
    <th>Product</th>
    <th>Cost of Good</th>
    <th>Quantity</th>
    <th>Sent Orders</th>
    <th>Store Inventory</th>
    <th>Threshold</th>
    <th>Prior Jam Inventory</th>
    <th>New Jam Inventory</th>
  </tr>
  <% @daily_order.orders.sort_by { |order| order.product.vend_datum.sort_key }.each do |order| %>
    <tr>
      <td><a href='<%= product_path(order.product) %>' target='_blank'><%= order.product.vend_datum.variant_name %> <i class='fa fa-external-link-alt'></i></a></td>
      <td><%= number_to_currency(order.cost, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td><%= order.quantity %></td>
      <td><%= order.sent_orders %></td>
      <td><%= order.threshold %></td>
      <td><%= order.vend_qty %></td>
      <td class='<%= 'inventory_failure' unless order.order_inventory_update&.success? %>'><%= order.order_inventory_update&.prior_jam_qty || ' - ' %></td>
      <td class='<%= 'inventory_failure' unless order.order_inventory_update&.success? %>'><%= order.order_inventory_update&.new_jam_qty || ' - ' %></td>
    </tr>
  <% end %>
</table>
