<div class='center'>
  <h2>Daily Order for <%= VendClient::OUTLET_NAMES_BY_ID[@daily_order.outlet_id] %> on <%= @daily_order.date.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y") %> <% if @daily_order.qbo_id.present? %>(<a href='https://c3.qbo.intuit.com/app/salesreceipt?txnId=<%= @daily_order.qbo_id %>' target='_blank'>QBO <i class='fa fa-external-link-alt'></i></a>)<% end %></h2>
</div>

<table class="products full_width">
  <tr>
    <th>When?  (PST / PDT)</th>
    <th>Location</th>
    <th>Total Orders</th>
    <th>Vend Consignment</th>
    <th>PO</th>
    <th>QBO</th>
  </tr>
  <tr>
    <td >
      <%= @daily_order.date.in_time_zone("Pacific Time (US & Canada)").to_s(:humanized_ago) %>
    </td>
    <td>
      <%= VendClient::OUTLET_NAMES_BY_ID[@daily_order.outlet_id] %>
    </td>
    <td>
      <%= @daily_order.orders.count %>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<div class='center'>
  <h2>Orders</h2>
</div>

<table class="products full_width">
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Cost</th>
    <th>Threshold</th>
    <th>Store Inventory</th>
    <th>Prior Jam Inventory</th>
    <th>New Jam Inventory</th>
  </tr>
  <% @daily_order.orders.each do |order| %>
    <tr>
      <td><a href='<%= order.product.vend_datum.link %>' target='_blank'><%= order.product.vend_datum.variant_name %> <i class='fa fa-external-link-alt'></i></a></td>
      <td><%= order.quantity %></td>
      <td><%= number_to_currency(order.cost, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td><%= order.threshold %></td>
      <td><%= order.vend_qty %></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</table>
