<div id="filterrific_results">

  <div class='center' style='margin-bottom: 30px;'>
    <%= page_entries_info fluid_inventory_updates %>
  </div>
  
  <table class="products full_width">
    <tr>
      <th>When? (Pacific Time)</th>
      <th>Product Name</th>
      <th>Variant Name</th>
      <th>SKU</th>
      <th>Threshold</th>
      <th>Prior Jam RETAIL Qty</th>
      <th>Prior Jam WHOLESALE Qty</th>
      <th>Adjustment</th>
      <th>New Jam RETAIL Qty</th>
      <th>New Jam WHOLESALE Qty</th>
    </tr>
    <% fluid_inventory_updates.each do |update| %>
      <tr>
        <td><%= update.created_at.in_time_zone("Pacific Time (US & Canada)").to_s(:humanized_ago) %></td>
        <td><%= link_to update.product do %><%= update.product.vend_datum.name %> <i class='fa fa-external-link-alt'></i><% end %></td>
        <td><%= update.product.vend_datum.variant_name %></td>
        <td><%= update.product.vend_datum.sku %></td>
        <td><%= update.product.fluid_inventory_threshold %></td>
        <td><%= update.prior_retail_qty %></td>
        <td><%= update.prior_wholesale_qty %></td>
        <td><%= update.adjustment %></td>
        <td><%= update.new_retail_qty %></td>
        <td><%= update.new_wholesale_qty %></td>
      </tr>
    <% end %>
  </table>

  <div class='center'>
  <%= will_paginate %>
  </div>
</div>
