<% provide(:title, 'Fluid Inventory Updates') %>

<%= form_for_filterrific @filterrific do |f| %>
  <div class='search_bar'>
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'search_field',
      placeholder: ' Search'
    ) %>
  </div>
  <div class='center reset_button'>
    <%= link_to(
      'Reset Search',
      reset_filterrific_url,
      class: "reset_search") %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'fluid_inventory_updates/list',
  locals: { fluid_inventory_updates: @fluid_inventory_updates }
) %>
