<div id="filterrific_results">

  <div class='mb-5'>
    <%= page_entries_info products %>
  </div>

  <table class="products full_width">
    <tr>
      <th>Product</th>
      <th>Added (Pacific Time)</th>
      <th>SKU</th>
      <th>Vend Inventories</th>
      <th>Shopify Retail Inventories</th>
      <th>Shopify Wholesale Inventories</th>
      <th>3rdParty?</th>
      <th>Sale?</th>
      <th>Links</th>
    </tr>
    <% products.each do |product| %>
      <% vend = product.vend_datum %>
      <% retail_shopify = product.retail_shopify %>
      <% wholesale_shopify = product.wholesale_shopify %>
      <tr>
        <td><%= link_to product do %><%= vend.variant_name %> <i class='fa fa-external-link-alt'></i><% end %></td>
        <td><%= product.created_at.in_time_zone("Pacific Time (US & Canada)").to_s(:humanized_ago) %></td>
        <td><%= vend.sku %></td>
        <td>
          <% if vend.vend_inventories.present? %>
            <% vend.vend_inventories.each do |inventory| %>
              <strong><%= inventory.location %></strong>: <%= inventory.inventory %><br />
            <% end %>
          <% else %>
            none
          <% end %>
        </td>
        <td>
          <% if retail_shopify.present? %>
            <% if retail_shopify.shopify_inventories.present? %>
              <% retail_shopify.shopify_inventories.each do |inventory| %>
                <strong><%= inventory.location.gsub(' Retail', '') %></strong>: <%= inventory.inventory %><br />
              <% end %>
            <% else %>
              none
            <% end %>
          <% else %>
            n/a
          <% end %>
        </td>
        <td>
          <% if wholesale_shopify.present? %>
            <% if wholesale_shopify.shopify_inventories.present? %>
              <% wholesale_shopify.shopify_inventories.each do |inventory| %>
                <strong><%= inventory.location.gsub(' Wholesale', '') %></strong>: <%= inventory.inventory %><br />
              <% end %>
            <% else %>
              none
            <% end %>
          <% else %>
            n/a
          <% end %>
        </td>
        <td>
          <% if retail_shopify.present? %>
            <%= retail_shopify.third_party? %>
          <% else %>
            n/a
          <% end %>
        </td>
        <td>
          <% if retail_shopify.present? %>
            <%= retail_shopify.sale? %>
          <% else %>
            n/a
          <% end %>
        </td>
        <td>
          <p class='mb-0'><a href='<%= vend.link %>' target='_blank'>Vend <i class='fa fa-external-link-alt'></i></a></p>
          <% if retail_shopify.present? %>
            <p class='mt-2 mb-0'><a href='<%= retail_shopify.link %>' target='_blank'>Retail Shopify <i class='fa fa-external-link-alt'></i></a></p>
          <% end %>
          <% if wholesale_shopify.present? %>
            <p class='mt-2 mb-0'><a href='<%= wholesale_shopify.link %>' target='_blank'>Wholesale Shopify <i class='fa fa-external-link-alt'></i></a></p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class='center'>
  <%= will_paginate %>
  </div>
</div>
