<% if @orders.present? %>
  <hr/>
  <h2 class='center'>Daily Orders:</h2>
  <table class='full_width'>
    <tr>
      <th>When?</th>
      <th>Location</th>
      <th>Cost of Good</th>
      <th>Quantity</th>
      <th>Sent Orders</th>
      <th>Store Inventory</th>
      <th>Threshold</th>
    </tr>

    <% @orders.sort { |a,b| b.daily_order.daily_inventory_transfer.date <=> a.daily_order.daily_inventory_transfer.date }.each do |order| %>
      <tr class='<%= 'cancelled' if order.cancelled? %>'>
        <td><%= order.daily_order.daily_inventory_transfer.date.in_time_zone("Pacific Time (US & Canada)").to_s(:humanized_ago) %></td>
        <td><a href='<%= daily_order_path(order.daily_order) %>'><%= order.daily_order.outlet_name %> <i class='fa fa-external-link-alt'></i></a></td>
        <td><%= order.cost %></td>
        <td><%= order.quantity %></td>
        <td><%= order.sent_orders %></td>
        <td><%= order.vend_qty %></td>
        <td><%= order.threshold %></td>
      </tr>
    <% end %>
  <table>
  <div class='center'>
    <%= will_paginate @orders, param_name: 'orders_page' %>
  </div>
<% end %>
