<% if retail_shopify.present? || wholesale_shopify.present? %>
  <% headers = ['store'] + ((retail_shopify || wholesale_shopify).attributes.keys - ['store'])  %>
  <hr/>
  <h2>Shopify Data:</h2>
  <table class='full_width'>
    <% headers.each do |header| %>
      <% next if %w[product_id inventory vendor compare_at_price fulfillment_service grams inventory_management inventory_policy requires_shipping weight weight_unit shopify_created_at].include?(header) %>
      <tr>
        <td>
          <strong><%= header.humanize %></strong>
        </td>
        <% if retail_shopify.present? %>
          <td>
            <% if header == 'store' %>
              <a href='https://mollusksurf.myshopify.com/admin/products/<%= retail_shopify.shopify_product_id %>/variants/<%= retail_shopify.variant_id %>' target='_blank'>RETAIL <i class='fa fa-external-link-alt'></i></a>
            <% elsif retail_shopify.send(header).is_a? Array %>
              <%= retail_shopify.send(header).join(', ') %>
            <% elsif retail_shopify.send(header).is_a? String %>
              <%= retail_shopify.send(header).humanize %>
            <% else %>
              <%= retail_shopify.send(header) %>
            <% end %>
          </td>
        <% end %>
        <% if wholesale_shopify.present? %>
          <td>
            <% if header == 'store' %>
              <a href='https://molluskats.myshopify.com/admin/products/<%= wholesale_shopify.shopify_product_id %>/variants/<%= wholesale_shopify.variant_id %>' target='_blank'>WHOLESALE <i class='fa fa-external-link-alt'></i></a>
            <% elsif wholesale_shopify.send(header).is_a? Array %>
              <%= wholesale_shopify.send(header).join(', ') %>
            <% elsif wholesale_shopify.send(header).is_a? String %>
              <%= wholesale_shopify.send(header).humanize %>
            <% else %>
              <%= wholesale_shopify.send(header) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td>
        <strong>All Inventories</strong>
      </td>
      <% if retail_shopify.present? %>
        <td>
          <% if retail_shopify.shopify_inventories.present? %>
            <% retail_shopify.shopify_inventories.each do |inventory| %>
              <strong><%= inventory.location.gsub(' Retail', '') %></strong>: <%= inventory.inventory %><br />
            <% end %>
          <% end %>
        </td>
      <% end %>
      <% if wholesale_shopify.present? %>
        <td>
          <% if wholesale_shopify.shopify_inventories.present? %>
            <% wholesale_shopify.shopify_inventories.each do |inventory| %>
              <strong><%= inventory.location.gsub(' Wholesale', '') %></strong>: <%= inventory.inventory %><br />
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <table>
<% end %>
