<% if shopify_datum.present? %>
  <hr/>
  <h2><%= shopify_datum.store.upcase %> Shopify Data (<a href='https://mollusk<%= shopify_datum.store == 'retail' ? 'surf' : 'ats' %>.myshopify.com/admin/products/<%= shopify_datum.shopify_product_id %>/variants/<%= shopify_datum.variant_id %>' target='_blank'>link</a>):</h2>
  <table class='full_width'>
    <% shopify_datum.attributes.each do |sd| %>
      <% next if %w[product_id].include?(sd.first) %>
      <% if sd.last.present? %>
        <tr>
          <td>
            <strong><%= sd.shift.humanize %></strong>
          </td>
          <td>
            <% if sd.first.is_a? Array %>
              <%= sd.shift.join(', ') %>
            <% else %>
              <%= sd.shift %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <table>
<% end %>
