<% if @product.vend_datum.present? %>
  <hr/>
  <h2 class='center'>Vend Data <a href='<%= @product.vend_datum&.link %>' target='_blank'><i class='fa fa-external-link-alt'></i></a>:</h2>
  <table class='full_width'>
    <% @product.vend_datum.attributes.each do |vd| %>
      <% if vd.last.present? %>
        <% next if %w[variant_options tag_ids categories product_id brand_id is_active product_type_id supplier_id].include?(vd.first) %>
        <tr>
          <td>
            <strong><%= vd.shift.humanize %></strong>
          </td>
          <td>
            <% if vd.first.is_a? Hash %>
              <%= vd.shift['name'] %>
            <% elsif vd.first.is_a? Array %>
              <%= vd.shift.join(', ') %>
            <% else %>
              <%= vd.shift %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td>
        <strong>Inventory</strong>
      </td>
      <td>
        <% @product.vend_datum.vend_inventories.exclude_dead_locations.each do |inventory| %>
          <strong><%= inventory.location %></strong>: <%= inventory.inventory %><br />
        <% end %>
      </td>
    </tr>
  </table>
<% end %>
