<% provide(:title, 'All products') %>

<%= form_for_filterrific @filterrific do |f| %>
  <div class='mb-2'>
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed search_field pl-3',
      placeholder: 'Search'
    ) %>
  </div>
  <div class='reset_button'>
    <%= link_to(
      'Reset Search',
      reset_filterrific_url,
      class: "reset_search") %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'products/list',
  locals: { products: @products }
) %>
