<% provide(:title, 'Product') %>
<h3 class='center'><%= @product.title %></h3>
<p class='center'>Added <%= @product.created_at.in_time_zone("Pacific Time (US & Canada)").to_s(:humanized_ago) %></p>

<%= render partial: 'shopify_data', locals: { shopify: @product.shopify_datum } %>
<%= render partial: 'orders' %>
<%= render partial: 'shopify_duplicates' %>
<%= render partial: 'shopify_deletions' %>
