<% provide(:title, 'Product') %>
<h1>Product: <%= @product.vend_datum.name %></h1>

<hr/>

<h2>Vend Data (<a href='https://mollusksurf.vendhq.com/product/<%= @product.vend_datum.vend_id %>' target='_blank'>link</a>):</h2>
<% if @product.vend_datum.present? %>
  <table class='full_width'>
    <% @product.vend_datum.attributes.each do |vd| %>
      <% if vd.last.present? %>
        <% next if ['variant_options', 'tag_ids', 'categories', 'description'].include?(vd.first) %>
        <tr>
          <td>
            <strong><%= vd.shift.humanize %></strong>
          </td>
          <td>
            <% if vd.first.is_a? Hash %>
              <%= vd.shift['name'] %>
            <% elsif vd.first.is_a? Array %>
              <%= vd.shift.join(', ') %>
            <% else %>
              <%= vd.shift %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>

<% if @product.shopify_datum.present? %>
  <hr/>
  <h2>Shopify Data (<a href='https://mollusksurf.myshopify.com/admin/products/<%= @product.shopify_datum.shopify_product_id %>/variants/<%= @product.shopify_datum.variant_id %>' target='_blank'>link</a>):</h2>
  <table class='full_width'>
    <% @product.shopify_datum.attributes.each do |vd| %>
      <% if vd.last.present? %>
        <tr>
          <td>
            <strong><%= vd.shift.humanize %></strong>
          </td>
          <td>
            <% if vd.first.is_a? Array %>
              <%= vd.shift.join(', ') %>
            <% else %>
              <%= vd.shift %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <table>
<% end %>

<% if @product.inventory_updates.present? %>
  <hr/>
  <h2>Updates:</h2>
  <table class='full_width'>
    <tr>
      <th>When?</th>
      <th>Vend Qty</th>
      <th>Prior Shopify Qty</th>
      <th>Adjustment</th>
      <th>New Shopify Qty</th>
    </tr>
    <% @product.inventory_updates.each do |update| %>
      <tr>
        <td><%= update.created_at %></td>
        <td><%= update.vend_qty %></td>
        <td><%= update.prior_qty %></td>
        <td><%= update.adjustment %></td>
        <td><%= update.new_qty %></td>
      </tr>
    <% end %>
  <table>
<% end %>