<% provide(:title, 'Product') %>
<h3 class='center'><%= @product.vend_datum.variant_name %></h3>
<p class='center'>Added <%= @product.created_at.in_time_zone("Pacific Time (US & Canada)").to_s(:humanized_ago) %></p>

<hr/>

<%= render partial: 'vend_data' %>
<%= render partial: 'shopify_data', locals: { retail_shopify: @product.retail_shopify } %>
<%= render partial: 'inventory_updates' %>
<%= render partial: 'orders' %>
<%= render partial: 'shopify_duplicates' %>
<%= render partial: 'shopify_deletions' %>
