<% provide(:title, 'Product') %>
<h1>Product: <%= @product.vend_datum.name %></h1>
<p class='center'>Added <%= @product.created_at.in_time_zone("Pacific Time (US & Canada)").to_s(:humanized_ago) %></p>

<hr/>

<%= render partial: 'vend_data' %>
<%= render partial: 'shopify_data', locals: { retail_shopify: @product.retail_shopify, wholesale_shopify: @product.wholesale_shopify } %>
<%= render partial: 'inventory_updates' %>
<%= render partial: 'fluid_inventory_updates' %>
