<% provide(:title, 'Daily Reports') %>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#shopify_sales_receipt" aria-controls="shopify sales receipts" role="tab" data-toggle="tab">
        Shopify Daily Sales
      </a>
    </li>
    <li role="presentation">
      <a href="#shopify_cogs" aria-controls="shopify cogs" role="tab" data-toggle="tab">
        Shopify COGS
      </a>
    </li>
    <li role="presentation">
      <a href="#shopify_refunds" aria-controls="shopify refunds" role="tab" data-toggle="tab">
        Shopify Refunds
      </a>
    </li>
    <li role="presentation">
      <a href="#vend_sales_receipt" aria-controls="vend sales receipts" role="tab" data-toggle="tab">
        Vend Daily Sales
      </a>
    </li>
    <li role="presentation">
      <a href="#vend_cogs" aria-controls="vend cogs" role="tab" data-toggle="tab">
        Vend COGS
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active px-3 pt-5" id="shopify_sales_receipt">
      <%= render partial: 'shopify_sales_receipts' %>
    </div>
    <div role="tabpanel" class="tab-pane fade px-3 pt-5" id="shopify_cogs">
      <%= render partial: 'shopify_costs' %>
    </div>
    <div role="tabpanel" class="tab-pane fade px-3 pt-5" id="shopify_refunds">
      <%= render partial: 'shopify_refunds' %>
    </div>
    <div role="tabpanel" class="tab-pane fade px-3 pt-5" id="vend_sales_receipt">
      <%= render partial: 'vend_daily_sales' %>
    </div>
    <div role="tabpanel" class="tab-pane fade px-3 pt-5" id="vend_cogs">
      <%= render partial: 'vend_daily_costs' %>
    </div>
  </div>

</div>


