<h2 class='center'>Shopify Refunds</h2>

<table class="products full_width">
  <tr>
    <th>Date</th>
    <th>Product Sales</th>
    <th>Discounts</th>
    <th>Arbitrary Discounts</th>
    <th>Sales Tax</th>
    <th>Refunded Shipping</th>
    <th>Return Shipping Fees</th>
    <th>Shopify Payments</th>
    <th>Paypal Payments</th>
    <th>Gift Card Payments</th>
    <th>Costs</th>
    <th>Costs by Location</th>
    <th>QBO</th>
  </tr>
  <% @shopify_refunds.each do |refund| %>
    <tr>
      <td><a href='<%= shopify_refund_path(refund) %>' target='_blank'><%= refund.date.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%y") %> <i class='fa fa-external-link-alt'></i></a></td>
      <td><%= number_to_currency(refund.product_sales, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td><%= number_to_currency(refund.discount, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td><%= number_to_currency(refund.arbitrary_discount, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td><%= number_to_currency(refund.sales_tax, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td><%= number_to_currency(refund.refunded_shipping, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td><%= number_to_currency(refund.shipping, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td><%= number_to_currency(refund.shopify_payments, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td><%= number_to_currency(refund.paypal_payments, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td><%= number_to_currency(refund.gift_card_payments, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td><%= number_to_currency(refund.cost, :unit => "$", :separator => ".", :delimiter => ",") %></td>
      <td>
        <%= render partial: 'shopify_costs_by_location', locals: { location_costs: refund.location_costs } %>
      </td>
      <td>
        <% if refund.qbo_id.present? %><a href='https://c3.qbo.intuit.com/app/journal?txnId=<%= refund.qbo_id %>' target='_blank'>QBO <i class='fa fa-external-link-alt'></i></a><% end %>
      </td>
    </tr>
  <% end %>
</table>

<div class='center'>
  <%= will_paginate @shopify_refunds %>
</div>
