<%= render partial: 'nav' %>

<table class="products full_width">
  <tr>
    <th>Date</th>
    <th>QBO</th>
    <th>Receving</th>
    <th>Supplying</th>
  </tr>
  <% @vend_inventory_transfers.each do |inventory_transfer| %>
    <% has_consignments = inventory_transfer.vend_consignment_location_costs.present? %>
    <tr>
      <td class='border-bottom' rowspan='<%= has_consignments ? inventory_transfer.vend_consignment_location_costs.receiving.count : 1 %>' style='background-color: #FFFFFF'>
        <a href='<%= daily_vend_consignment_path(inventory_transfer) %>' target='_blank'><%= inventory_transfer.date.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%y") %> <i class='fa fa-external-link-alt'></i></a>
      </td>
      <td class='border-bottom' rowspan='<%= has_consignments ? inventory_transfer.vend_consignment_location_costs.receiving.count : 1 %>' style='background-color: #FFFFFF'>
        <% if inventory_transfer.qbo_id.present? %><a href='https://c3.qbo.intuit.com/app/journal?txnId=<%= inventory_transfer.qbo_id %>' target='_blank'>QBO <i class='fa fa-external-link-alt'></i></a><% end %>
      </td>

      <% if has_consignments %>
        <% receiving_location_costs = inventory_transfer.vend_consignment_location_costs.receiving.sort_by(&:cost) %>
        <% supplying_location_costs = inventory_transfer.vend_consignment_location_costs.supplying.sort_by(&:cost) %>

        <% receiving_location_costs.each_with_index do |receiving_location_cost, index| %>
          <% last_row = (index == (receiving_location_costs.count - 1)) %>
          <% if index.positive? %>
            <tr>
          <% end %>
            <td class='<%= 'border-bottom' if last_row %>'>
              <strong><%= receiving_location_cost.outlet_name %>:</strong> <%= number_to_currency(receiving_location_cost.cost, :unit => "$", :separator => ".", :delimiter => ",") %>
            </td>
            <td class='<%= 'border-bottom' if last_row %>'>
              <strong><%= supplying_location_costs[index].outlet_name %>:</strong> <%= number_to_currency(supplying_location_costs[index].cost, :unit => "$", :separator => ".", :delimiter => ",") %>
            </td>
          </tr>
        <% end %>
      <% else %>
          <td class='border-bottom'>
            n/a
          </td>
          <td class='border-bottom'>
            n/a
          </td>
        </tr>
      <% end %>
  <% end %>
</table>

<div class='center'>
<%= will_paginate @vend_inventory_transfers %>
</div>
