<h2 class='center'>Vend Daily Sales Receipts</h2>

<table class="products full_width">
  <tr>
    <th>Date</th>
    <th>Outlet</th>
    <th>Product Sales</th>
    <th>Gift Card Sales</th>
    <th>Discount Sales</th>
    <th>Discounts</th>
    <th>Sales Tax</th>
    <th>Shipping</th>
    <th>Credit Payments</th>
    <th>Cash or Check Payments</th>
    <th>Gift Card Payments</th>
    <th><span style='color: red'>Over</span> / <span style='color: blue'>Short</span></th>
    <th>QBO</th>
  </tr>
  <% @vend_sales.each do |day| %>
    <tr>
      <td class='border-bottom' rowspan='<%= day.vend_sales_receipts.count || 1 %>' style='background-color: #FFFFFF'><a href='<%= daily_vend_sale_path(day) %>' target='_blank'><%= day.date.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%y")  %> <i class='fa fa-external-link-alt'></i></a></td>
      <% day.vend_sales_receipts.present? %>
        <% day.vend_sales_receipts.sort_by(&:outlet_id).each_with_index do |receipt, index| %>
          <% last_row = (index == (day.vend_sales_receipts.count - 1)) %>
          <% if index.positive? %>
            <tr>
          <% end %>
            <td class='<%= 'border-bottom' if last_row %>'><%= receipt.outlet_name %></td>
            <td class='<%= 'border-bottom' if last_row %>'><%= number_to_currency(receipt.product_sales, unit: '$', separator: '.', delimiter: ',') %></td>
            <td class='<%= 'border-bottom' if last_row %>'><%= number_to_currency(receipt.gift_card_sales, unit: '$', separator: '.', delimiter: ',') %></td>
            <td class='<%= 'border-bottom' if last_row %>'><%= number_to_currency(receipt.discount_sales, unit: '$', separator: '.', delimiter: ',') %></td>
            <td class='<%= 'border-bottom' if last_row %>'><%= number_to_currency(receipt.discount, unit: '$', separator: '.', delimiter: ',') %></td>
            <td class='<%= 'border-bottom' if last_row %>'><%= number_to_currency(receipt.sales_tax, unit: '$', separator: '.', delimiter: ',') %></td>
            <td class='<%= 'border-bottom' if last_row %>'><%= number_to_currency(receipt.shipping, unit: '$', separator: '.', delimiter: ',') %></td>
            <td class='<%= 'border-bottom' if last_row %>'><%= number_to_currency(receipt.credit_payments, unit: '$', separator: '.', delimiter: ',') %></td>
            <td class='<%= 'border-bottom' if last_row %>'><%= number_to_currency(receipt.cash_or_check_payments, unit: '$', separator: '.', delimiter: ',') %></td>
            <td class='<%= 'border-bottom' if last_row %>'><%= number_to_currency(receipt.gift_card_payments, unit: '$', separator: '.', delimiter: ',') %></td>
            <td class='<%= 'border-bottom' if last_row %>'>
              <% if receipt.sum_check.to_d.truncate(2).to_f == 0.0 %>
                <p style='color: green'><i class="fa fa-check"></i></p>
              <% elsif receipt.sum_check > 0 %>
                <p style='color: red'><%= number_to_currency(receipt.sum_check, unit: '$', separator: '.', delimiter: ',') %></p>
              <% else %>
                <p style='color: blue'><%= number_to_currency(receipt.sum_check, unit: '$', separator: '.', delimiter: ',') %></p>
              <% end %>
            </td>
            <td class='<%= 'border-bottom' if last_row %>'>
              <% if receipt.qbo_id.present? %><a href='https://c3.qbo.intuit.com/app/salesreceipt?txnId=<%= receipt.qbo_id %>' target='_blank'>QBO <i class='fa fa-external-link-alt'></i></a><% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
          <td class='border-bottom'> - </td>
          <td class='border-bottom'> - </td>
          <td class='border-bottom'> - </td>
          <td class='border-bottom'> - </td>
          <td class='border-bottom'> - </td>
          <td class='border-bottom'> - </td>
          <td class='border-bottom'> - </td>
          <td class='border-bottom'> - </td>
          <td class='border-bottom'> - </td>
          <td class='border-bottom'> - </td>
          <td class='border-bottom'> - </td>
          <td class='border-bottom'> - </td>
        </tr>
      <% end %>
  <% end %>
</table>

<div class='center'>
<%= will_paginate @vend_sales %>
</div>
