<ul class="nav nav-tabs mt-4 mb-5">
  <li class="<%= "highlighted" if params[:controller] == "inventory_updates" %> nav-item">
    <a class="nav-link" href="/inventory_updates">Vend Inventory Updates</a>
  </li>
  <li class="<%= "highlighted" if params[:controller] == "fluid_inventory_updates" %> nav-item">
    <a class="nav-link" href="/fluid_inventory_updates">Fluid Inventory Updates</a>
  </li>
  <li class="<%= "highlighted" if params[:controller] == "products" %> nav-item">
    <a class="nav-link" href="/products">Products</a>
  </li>
  <li class="<%= "highlighted" if params[:controller] == "fluid_inventory_thresholds" %> nav-item">
    <a class="nav-link" href="/fluid_inventory_thresholds">Fluid Inventory Thresholds</a>
  </li>
  <li class="<%= "highlighted" if params[:controller] == "daily_reports" %> nav-item">
    <a class="nav-link" href="/daily_reports">Daily QBO Reports</a>
  </li>
</ul>
