<ul class="nav nav-tabs mt-4 mb-5">
  <li class="<%= "highlighted" if params[:controller] == "inventory_updates" %> nav-item">
    <a class="nav-link" href="/inventory_updates">Vend Inventory Updates</a>
  </li>
  <li class="dropdown <%= "highlighted" if ['fluid_inventory_thresholds', 'fluid_inventory_updates'].include?(params[:controller]) %> nav-item">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fluid Inventory <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <a href="/fluid_inventory_thresholds">Thresholds</a>
      </li>
      <li>
        <a href="/fluid_inventory_updates">Updates</a>
      </li>
    </ul>
  </li>
  <li class="<%= "highlighted" if params[:controller] == "products" %> nav-item">
    <a class="nav-link" href="/products">Products</a>
  </li>
  <li class="dropdown <%= "highlighted" if ['daily_order_thresholds', 'daily_inventory_transfers'].include?(params[:controller]) %> nav-item">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Daily Inventory Transfers <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <a href="/daily_order_thresholds">Thresholds</a>
      </li>
      <li>
        <a href="/daily_inventory_transfers">Orders</a>
      </li>
    </ul>
  </li>
  <li class="dropdown <%= "highlighted" if params[:controller] == "daily_reports" %> nav-item">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Daily Reports <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <a href="/daily_reports/shopify_sales_receipts">Shopify Daily Sales</a>
      </li>
      <li>
        <a href="/daily_reports/shopify_costs">Shopify COGS</a>
      </li>
      <li>
        <a href="/daily_reports/shopify_refunds">Shopify Refunds</a>
      </li>
      <li>
        <a href="/daily_reports/wholesale_shopify_sales_receipts">Wholesale Shopify Daily Sales</a>
      </li>
      <li>
        <a href="/daily_reports/wholesale_shopify_costs">Wholesale Shopify COGS</a>
      </li>
      <li>
        <a href="/daily_reports/vend_sales_receipts">Vend Daily Sales</a>
      </li>
      <li>
        <a href="/daily_reports/vend_costs">Vend COGS</a>
      </li>
      <li>
        <a href="/daily_reports/vend_inventory_transfers">Vend Inventory Transfers</a>
      </li>
      <li>
        <a href="/daily_reports/vend_sales_taxes">Vend Sales Taxes</a>
      </li>
    </ul>
  </li>
  <li class='<%= 'highlighted' if params[:controller] == 'wholesale_orders' %> nav-item'>
    <a class="nav-link" href="/wholesale_orders">Wholesale Orders</a>
  </li>
</ul>
